:root{
    --fuente: "Montserrat",sans-serif;

    --fondo: #c1cec1;
    --blanco:#ffffff;

}

::-webkit-scrollbar {
    width: 8px; 
}

::-webkit-scrollbar-track {
    background: #f1f1f1; 
    border-radius: 10px;
}

::-webkit-scrollbar-thumb {
    background: #acacac; 
    border-radius: 10px; 
}

::-webkit-scrollbar-thumb:hover {
    background: #a3a3a3; 

}

h1{
    font-size: 2.7rem;
}

h2{
    font-size: 2.2rem;
}

body{
    padding-top: 7rem;
    background-color: white;
    font-family: var(--fuente);
    
}

.container-header{
    position: fixed;
    top: 0;
    left: 0;
    z-index: 1000;
    width: 100%;
    background-color: var(--blanco);
    display: flex;

    align-items: center;
    justify-content: space-between;
    
}

.sin-mod{
    text-decoration: none;
    color: black;
}

.logo-img{
    width: 70%;
    padding-left: 2rem;
}


.navegacion a{
    margin-right: 2rem;
}
.contenedor-Main{
    width: 100%;
    background-color: white;
    padding: 1rem;
}

/*TERMINA HEADER*/

.subida-Producto{
    padding-top: 2rem;
    text-align: center;
}

.contenedor-Productos {
    background-color: var(--blanco);
    padding: 2rem;
    border-radius: 8px;
    box-shadow: 0 2px 10px rgba(0, 0, 0, 0.1);  /* Con esto se hacen las sombras*/
    margin: 2rem auto;
    width: 60%; 
    max-width: 1080px;
    font-family: var(--fuente);
    text-align: center;
    transition: transform 0.3s ease;
    box-shadow: 0 4px 20px rgba(0, 0, 0, 0.2);
}

.campo {
    margin-bottom: 1rem;
    width: 100%; /* Asegura que el campo ocupe todo el ancho del contenedor */
}

.campo label {
    display: block;
    margin-bottom: 0.5rem;
    text-align: center; /* Centra el texto del label */
}

.campo input,
.campo textarea {
    width: 90%; /* Asegura que los inputs y textareas ocupen todo el ancho */
    padding: 0.5rem;
    border: 1px solid #ccc;
    border-radius: 4px;
}

.btn-subir {
    background-color: rgb(201, 32, 207);
    color: white;
    padding: 0.7rem 1.5rem;
    border: none;
    border-radius: 4px;
    cursor: pointer;
    transition: background-color 0.3s;
}

.btn-subir:hover {
    background-color: #a81a8a;
}

#success-message, #error-message {
    display: none;
    padding: 10px;
    margin-top: 10px;
    border-radius: 5px;
}

#success-message {
    background-color: #d4edda;
    border: 1px solid #c3e6cb;
    color: #155724;
}

#error-message {
    background-color: #f8d7da;
    border: 1px solid #f5c6cb;
    color: #721c24;
}

/*empieza footer*/

.footer{
    padding: 2rem;
    background-color: rgb(201, 32, 207);
}

.contenedor-footer{
    
    margin: 0 auto;
    width: 100%;
}

.contenedor-footer p{
    color: white;
    text-align: center;
}
